.page[b-0he9ldte8n] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-0he9ldte8n] {
    flex: 1;
    background: linear-gradient(-45deg, transparent, #270031);
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.sidebar[b-0he9ldte8n] {
    background: linear-gradient(#41001e, #270031);
}

@media (min-width: 641px) {
    .page[b-0he9ldte8n] {
        flex-direction: row;
    }

    main[b-0he9ldte8n] {
        width: 80%;
    }

    .sidebar[b-0he9ldte8n] {
        width: 20%;
        height: 100vh;
        position: sticky;
        top: 0;
    }
    
    article[b-0he9ldte8n] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
