@page "/"
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="hero">
    <div class="name">
        <h1 class="capital">Personalized healthcare, <br> Powered by <em>you</em></h1>
        <p class="capital" style="max-width: 1000px;">Introducing <strong>Paramedy</strong> - the virtual paramedic app that's set to revolutionize first response in emergencies!. designed to bridge the gap until help arrives, especially in accidents or remote situations. <strong>Personalized health care, powered by <em>you</em></strong></p>

        <div class="btn-area">
            <button class="secondary">Book an appointment</button> <button class="secondary">Emergency Hotline</button>
        </div>
    </div>
</div>

@if (infoCard == null)
{
    <p><em>--Engineered to save lives--</em></p>
}
else
{
    <div class="flex">
        @foreach (var card in infoCard )
        {
            <div class="card px-4 py-4">
                <div class="card-title">
                    <h4>@card.Title</h4>
                </div>
                <div class="card-info">
                    <p>@card.Info</p>
                </div>
            </div>
        }
    </div>
}

@code {
    private GridCardInfo[]? infoCard;

    protected override async Task OnInitializedAsync()
    {
        infoCard = await Http.GetFromJsonAsync<GridCardInfo[]>("cards/info-card.json");
    }

    public class GridCardInfo
    {
        public string? Title { get; set; }
        public string? Info { get; set; }
    }
}