@page "/"

<PageTitle>Home</PageTitle>

<div class="hero">
    <div class="name">
        <h1 class="capital">Personalized healthcare, <br> Powered by <em>you</em></h1>
        <p class="capital" style="max-width: 1000px;">Introducing <strong>Paramedy</strong> - the virtual paramedic app that's set to revolutionize first response in emergencies!. designed to bridge the gap until help arrives, especially in accidents or remote situations. <strong>Personalized health care, powered by <em>you</em></strong></p>

        <div class="btn-area">
            <button class="secondary">Book an appointment</button> <button class="secondary">Emergency Hotline</button>
        </div>
    </div>
</div>

<InfoCard />