@page "/"
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="hero">
    <div class="name">
        <h1 class="capital">Personalized healthcare, <br> Powered by <em>you</em></h1>
        
        <h3>Welcome To <strong>Paramedy</strong></h3>

        <div class="btn-area">
            <button class="secondary">
                Get Started
            </button> 
        </div>
    </div>
</div>

@if (_infos == null)
{
    <p>--Engineered to save lives--</p>
}
else
{
    <div class="grid">
        @foreach (var info in _infos)
        {
            <InfoCard Info="info" />
        }
    </div>
}

@code {
    private IEnumerable<Info>? _infos;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _infos = await Http.GetFromJsonAsync <IEnumerable<Info>>("infos/info-data.json");
        }
        catch (HttpRquestException ex)
        {
            Console.WriteLine($"There was a problem loading the card data: {ex.Message}");
        }
    }
}