<div class="card">
    <div class="card-title">
        <h2>@card.Title</h2>
    </div>
    <div class="card-info">
        <p>@card.Info</p>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Info Info { get; set; } = default!;
}