h1[b-8squurilyi] {
    margin: 3rem auto;
    padding: 3rem 0;
    border-bottom: var(--border-line);
    border-radius: 20%;
    width: fit-content;
    background: linear-gradient(90deg, transparent, var(--brand), var(--brand), var(--brand), transparent);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero[b-8squurilyi] {
    margin: 0;
    padding: 0;
    height: fit-content;
    overflow-Y: auto;
    text-align: center;
    display: flex;
    width: 100%;
}

.name[b-8squurilyi] {
    margin: auto;
}

.capital[b-8squurilyi] {
    text-align: center;
    text-transform: capitalize;
}

.btn-area[b-8squurilyi] {
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

button[b-8squurilyi] {
    padding: .5rem 1.5rem;
}

button.secondary[b-8squurilyi] {
    color: var(--brand-t);
    box-shadow: var(--i-shade);
}

button.secondary:hover[b-8squurilyi] {
    color: var(--brand);
    box-shadow: var(--i-shade-b);
}

@media (min-width: 641px) {
    .btn-area[b-8squurilyi] {
        width: 50%;
    }
}